[submodule "submodules/stageforge"]
	path = submodules/stageforge
	url = https://github.com/goodpuppies/stageforge
	branch = irohstuff
[submodule "submodules/OpenVR_TS_Bindings_Deno"]
	path = submodules/OpenVR_TS_Bindings_Deno
	url = https://github.com/mommysgoodpuppy/OpenVR_TS_Bindings_Deno.git
	branch = main
[submodule "submodules/irohworker"]
	path = submodules/irohworker
	url = https://github.com/goodpuppies/irohworker.git
	branch = main
[submodule "submodules/petplayserver"]
	path = submodules/petplayserver
	url = https://github.com/goodpuppies/petplayserver.git
	branch = main
[submodule "submodules/puppyweb"]
	path = submodules/puppyweb
	url = https://github.com/goodpuppies/puppyweb.git
[submodule "submodules/frontend"]
	path = submodules/frontend
	url = https://github.com/goodpuppies/frontend.git
	branch = main
